@import url(./global.css);



/* 
* Our News Letter
 */

.news-letter-section {
    padding: 6rem 0;
}

.news-letter-container {
    position: relative;
    height: 20rem;
}

.news-letter-container img {
    position: relative;
    width: 100%;
    object-fit: cover;
    height: 20rem;
}

.overlay-effect {
    width: 100%;
    height: 20rem;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(29, 59, 107, 0.8);
}

.news-letter-content {
    width: 100%;
    padding-top: 2rem;
    position: absolute;
    text-align: center;
    top: 0;
    letter-spacing: 1px;
    line-height: 1;
}

.news-letter-title {
    font-size: 4rem;
    color: white;
}

.news-letter-text {
    padding-top: 2rem;
    font-size: 1.2rem;
    color: white;
}

.news-letter-btn-field input {
    margin-top: 2rem;
    width: 35rem;
    border-radius: 3rem;
    border: none;
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    color: var(--black-text);
    box-shadow: 0 0 25px var(--ocean-blue);
}

.news-letter-btn-field button {
    padding: 0.8rem 1.5rem;
    letter-spacing: 1px;
    font-size: 1.2rem;
    background-color: var(--green);
    box-shadow: 2px 2px 3px 1px var(--light-green);
    color: white;
    margin-left: 2rem;
    transition: 0.3s ease-in;
    cursor: pointer;
}

.news-letter-btn-field button:hover {
    transform: scale(1.05) translateY(-3px);
}




/* Media Query for Laptop Screen Sizes */
@media (min-width: 1025px) and (max-width: 1440px) {
    body {
        font-size: 16px;
    }

    /* 
    * Our News Letter
    */

    .news-letter-section {
        padding: 3rem 0;
    }

    .news-letter-title {
        font-size: 3rem;
    }

    .news-letter-text {
        padding-top: 1.5rem;
    }

    .news-letter-btn-field button:hover {
        transform: scale(1.01) translateY(-3px);
    }


}